#Made BY Sir_titi 	This is a config file for the radio (dataStorage).
#You can alter these at your liking Butt at your own risk doing So!
#Sat Sep 23 19:18:44 CEST 2017
AllowAutoUpdate=false
IsRepeat=false
Shuffle=false
WasPlaying=false
config_version=1.2
isMouseOverhelp=true
userFolderLink=null
